body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.wrapper {
    float: left;
    width: 100%;
}

.wrapper-content {
    width: 1400px;
    margin: 0 auto;
    overflow: auto;
    overflow-x: auto;
}

.web-content {
    margin: 0 auto;
    padding-bottom: 2em;
    text-align: center;
}

.menu {
    display: block;
    width: 100%;
}

.left {
    float: left
}

.right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #333333;
    text-align: center;
    padding: 1em;  
    font-size: .9em;
}

a { 
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

.sign-in a {
    border: 1px solid #4285f4;
    background: #4285f4;
    font-weight: bold;
    outline: none;
    color: #FFF;
    padding: .5em 1em;
    border-radius: .5em;
    margin: .5em;
}

.search {
    width: 582px;
    border-radius: 5em;
    border: 1px solid #DDD;
    margin: 0 auto;
}


.search::before {
    opacity: 0;
    box-shadow: 1em 4em 12em rgba(0,0,0,.35);
}

.search:hover: {
    box-shadow: 1em 4em 12em rgba(0,0,0,.35);
}


.searchIcon {
    float: left;
    display: inline-block;
    padding: 1em;
    color: #9AA0A6;
    fill: currentColor;
}
.voiceIcon {
    float: right;
    padding: 1em;
    color: lightskyblue;
    fill: currentColor;
}

input[type=search] {
    background: #FFF;
    padding: 1.5em;
    margin: 0;
    border: 0px !important;
}

button[type=submit] {
    background: #f2f2f2;
    padding: 1em;
    margin: 1em .5em;
    border: 0px !important;
    border-radius: .5em;
    color: #5F6368;

}

button[type=submit]:hover {
    border: 1px solid #DDD !important;
    color: #000;

}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    background:#f2f2f2;
}

.left {
    float: left
}

.right {
    float: right;
}

@media only screen and (max-width: 479px) {
    .wrapper-content {
        width: 100%;
        margin: 0 auto;
        overflow: auto;
        overflow-x: auto;
    }

    .mobhide {
        display: none;
    }
    
    img {
        width: 100%;
        height: auto;
    }

    .search {
        width: 100%;
        height: auto;
    }

    .searchIcon {
        float: right;
        display: inline-block;
        padding: 1em;
        color: #FFF;
        fill: currentColor;
        background: #3b78e7;
    }
    .voiceIcon {
        float: right;
        padding: 1em;
        color: lightskyblue;
        fill: currentColor;
    }
}